  

  .btn {
    background-color:#600606 !important ;
    display: inline-block !important;
    border: none !important;
    padding: 10px !important;
    border-radius: 10px !important;
    transition: 0.7s ease !important;
    font-weight: 400 !important;
    font-size: 20px !important;

  }

  .btn:hover{
    background-color: rgb(86, 7, 13) !important;
    transform: scale(1.1);
  }
@media (min-width:768px) and (max-width:991px){
  
   
  }
  
  
  @media (max-width:767px){
      .startcontent {
          display: flex !important;
          flex-direction: column !important;
          justify-content: space-around !important;
          align-items: center !important;
          margin: 45px 0px 45px;
      }
    .cardstartcontent{
        margin: 25px 0px ;
    }
  
  }