.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px 0;
}

.social > a {
  color: #fff !important;
  text-decoration: none;
}

.social > a:hover {
  color: rgb(195, 41, 54) !important;
  text-decoration: underline;
}

.labeladress:hover {
  color: rgb(195, 41, 54) !important;
}

.labeladress {
  font-size: 1rem;
  font-weight: bold;
}

.footersm {
  flex-direction: column !important;
  justify-content: space-around !important;
  align-items: center !important;
  margin: 15px 0px 15px;
  margin-right: 8px !important;
  flex-wrap: wrap;
}

.endcontentone h3 {
  width: max-content;
  margin-bottom: 20px !important;
}

.endcontentone,
.endcontentword,
.endcontenthree {
  margin-bottom: 20px;
}

.endcontentword h3 {
  text-align: center !important;
  margin-bottom: 25px !important;
}

.endcontentwordabout,
.endcontentwordcontact {
  margin-top: 25px !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.endcontent {
  font-size: 1rem;
  line-height: 1.6;
}

.socialcontentTop {
  color: #fff !important;
  font-size: 2px !important;
  margin: 10px 250px 10px -65px;
  font-weight: 300 !important;
  width: 200px !important;
  text-align: center !important;
}

.socialcontentTopAdress {
  width: max-content;
  margin-left: -55px !important;
}

.endcontentsocial {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
}

.endcontentsocial .social {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
  margin-bottom: 10px;
}

.endcontentsocial .social a {
  margin-right: 10px !important;
  color: #fff;
  text-decoration: none;
}

.social span i {
  text-align: center !important;
}

.endcontenthree {
  text-align: center;
  width: fit-content;
}

.endcontentwordabout,
.endcontentwordcontact {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Responsive Styles */
@media (min-width: 768px) and (max-width: 991px) {
  .headersm {
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (max-width: 768px) {
  .footersm {
    flex-direction: column;
    align-items: center;
  }

  .endcontentone,
  .endcontentword,
  .endcontenthree {
    text-align: center;
  }

  .social {
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .footersm {
    flex-direction: row;
    justify-content: space-between;
  }

  .endcontentone,
  .endcontentword,
  .endcontenthree {
    text-align: left;
  }
}

@media (min-width: 1201px) {
  .footersm {
    flex-direction: row;
    justify-content: space-between;
  }

  .endcontentone,
  .endcontentword,
  .endcontenthree {
    text-align: left;
  }
}




