name: Deploy React App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm ci

    - name: Build React app
      run: npm run build

    - name: Setup SSH key
      run: |
            mkdir -p ~/.ssh
            echo "${{ secrets.EC2_KEY }}" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
            ssh-keyscan -H 164.92.161.221 >> ~/.ssh/known_hosts

    - name: Deploy to EC2 via rsync
      run: |
        rsync -avz -e "ssh -o StrictHostKeyChecking=no" build/ ubuntu@164.92.161.221:/var/www/html/
